<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pisces.framework.file.dao.FileDAO">
	<!-- 文件类 -->
	<resultMap id="FileDO" type="com.pisces.framework.file.pojo.FileDO">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
		<result column="file_name" property="fileName" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="file_size" property="fileSize" jdbcType="BIGINT" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
	</resultMap>
	<!-- 新增文件-->
	<insert id="insertFile" parameterType="com.pisces.framework.file.pojo.FileDO">
		insert into
		ip_file
		(id,tenant_id,file_name,url,file_size,memo,create_by,create_date,update_by,update_date,is_deleted
		)
		values(#{id,jdbcType=VARCHAR},#{tenantId,jdbcType=VARCHAR},#{fileName,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{fileSize,jdbcType=BIGINT},#{memo,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},#{isDeleted,jdbcType=TINYINT})
	</insert>
	<!-- 删除单个文件 -->
	<update id="deleteFile" parameterType="java.util.Map">
		update ip_file a set a.is_deleted = 1 and
		a.update_by=#{updateBy},
		a.update_date=#{updateDate}
		where a.is_deleted = 0 
		and 
		a.id = #{fileId,jdbcType=VARCHAR}
	</update>
	<!-- 批量删除文件 -->
	<update id="deleteFileByBath" parameterType="java.util.Map">
		update ip_file a set
		a.update_by=#{updateBy},
		a.update_date=#{updateDate},
		a.is_deleted=1
		where
		a.is_deleted=0 and 
		a.id in
		<foreach collection="fileId" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	
	<select id="findById" parameterType="java.lang.String" resultMap="FileDO">
		select * from ip_file where is_deleted=0 and id = #{id,jdbcType=VARCHAR}
	</select>
	
</mapper>